<h1>Live2D Widget</h1>
<h2 id="特性-Feature">特性 Feature</h2>
<p>在网页中添加Live2D看板娘。<br>
Add Live2D widget to web page.</p>
<p><strong>警告：不支持IE。</strong><br>
<strong>WARNING: DO NOT SUPPORT IE.</strong></p>
<h2 id="示例-Demo">示例 Demo</h2>
<p>在<a href="https://zhangshuqiao.org" target="_blank" rel="noopener">米米的博客</a>的左下角可查看效果。需要使用支持WebGL的现代浏览器浏览。</p>
<p><img src="screenshot-1.png" alt=""><br>
<img src="screenshot-2.png" alt=""><br>
<img src="screenshot-3.png" alt=""></p>
<p>这个仓库中也提供了两个Demo，即</p>
<ul>
<li><a href="https://mi.js.org/live2d-widget/demo-1.html" target="_blank" rel="noopener">demo-1.html</a> ，展现基础效果</li>
<li><a href="https://mi.js.org/live2d-widget/demo-2.html" target="_blank" rel="noopener">demo-2.html</a> ，仿NPM的登陆界面</li>
</ul>
<h2 id="依赖-Dependencies">依赖 Dependencies</h2>
<p>本插件需要jQuery和font-awesome支持，请确保它们已在页面中加载，例如在<code>&lt;head&gt;</code>中加入：<br>
jQuery and font-awesome is required for this plugin. You can add this to <code>&lt;head&gt;</code>:</p>
<pre><code class="language-xml">&lt;script src=&quot;https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js&quot;&gt;&lt;/script&gt;
&lt;link rel=&quot;stylesheet&quot; href=&quot;https://cdn.jsdelivr.net/npm/font-awesome/css/font-awesome.min.css&quot;/&gt;
</code></pre>
<p>否则无法正常显示。</p>
<h2 id="使用-Usage">使用 Usage</h2>
<h3 id="Using-CDN">Using CDN</h3>
<p>你可以直接这样使用：</p>
<pre><code class="language-xml">&lt;script src=&quot;https://cdn.jsdelivr.net/gh/stevenjoezhang/live2d-widget/autoload.js&quot;&gt;&lt;/script&gt;
</code></pre>
<p>将这一行代码加入<code>&lt;head&gt;</code>或<code>&lt;body&gt;</code>，就可以看到效果了。<br>
（换句话说，如果你是小白，或者只需要最基础的功能，就把这一行代码，连同前面的两行代码，一起放到html的<code>&lt;head&gt;</code>中即可；如果页面是用各种模版、php、asp生成的，也要类似的修改，可能略为麻烦）</p>
<p><strong>但是！我们强烈推荐自己进行配置，否则很多功能是不完整的，并且可能产生问题！</strong><br>
如果你有兴趣自己折腾的话，请看下面的详细说明。</p>
<h3 id="Self-host">Self-host</h3>
<ul>
<li>如果你可以通过ssh访问你的主机，请把整个项目克隆到服务器上。执行：</li>
</ul>
<pre><code class="language-bash">cd /path/to/your/webroot
# Clone this repository
git clone https://github.com/stevenjoezhang/live2d-widget.git
</code></pre>
<ul>
<li>如果你的主机无法用ssh连接（例如一般的虚拟主机），请选择<code>Download ZIP</code>，然后通过ftp上传到主机上，再解压到网站的目录下。</li>
<li>如果你是通过Hexo等工具部署的静态博客，请选择<code>Download ZIP</code>，然后解压到本地的博客目录下，例如<code>source</code>下与<code>_posts</code>同级的目录。重新部署博客时，相关文件就会自动上传到对应的目录。（还需要在Hexo主题相关的swig或ejs模版中正确配置路径，才可以加载）</li>
</ul>
<p>这样，整个项目就可以通过你的服务器IP或者域名从公网访问了。你可以试试能否正常地通过浏览器打开<code>autoload.js</code>和<code>live2d.min.js</code>等文件。<br>
如果没有问题，接下来需要修改一些配置。（你也可以先在本地完成这一步骤，再上传到服务器上）<br>
修改autoload.js中的参数<code>live2d_path</code>为<code>live2d-widget</code>这一文件夹在公网上的路径。比如说，如果你可以通过</p>
<pre><code>https://www.example.com/path/to/live2d-widget/live2d.min.js
</code></pre>
<p>访问到<code>live2d.min.js</code>，那么就把<code>live2d_path</code>的值修改为</p>
<pre><code>https://www.example.com/path/to/live2d-widget/
</code></pre>
<p>路径末尾的<code>/</code>一定要加上。具体可以参考该文件内的注释。<br>
完成后，在你要添加看板娘的界面加入</p>
<pre><code class="language-xml">&lt;script src=&quot;https://www.example.com/path/to/live2d-widget/autoload.js&quot;&gt;&lt;/script&gt;
</code></pre>
<p>就可以加载了。</p>
<p><code>waifu-tips.json</code>中包含了触发条件（<code>selector</code>，选择器）和触发时显示的文字（<code>text</code>）。源文件是对Hexo的NexT主题有效的，为了适用于你自己的网页，也需要自行修改，或增加新内容。<br>
<strong>警告：作者不对包括但不限于<code>waifu-tips.json</code>和<code>waifu-tips.js</code>中的内容负责，请自行确保它们是合适的。（许可证中的<code>AS IS</code>描述）</strong><br>
如果有任何疑问，欢迎提ISSUE。如果有任何修改建议，欢迎提PR。</p>
<h2 id="更多-More">更多 More</h2>
<p>Live2D官方网站：<br>
<a href="https://www.live2d.com/en/" target="_blank" rel="noopener">https://www.live2d.com/en/</a><br>
<a href="https://live2d.github.io" target="_blank" rel="noopener">https://live2d.github.io</a></p>
<p>可以在官方网站下载SDK，包含更多的功能，也可以自行编译。具体操作是：</p>
<ul>
<li>点击Cubism SDK for Web，下载相关文件</li>
<li>解压并进入目录，执行<code>npm install</code></li>
<li>执行<code>npm run build-sample</code></li>
</ul>
<h2 id="鸣谢-Credits">鸣谢 Credits</h2>
<p>代码自这篇博文魔改而来：<br>
<a href="https://www.fghrsh.net/post/123.html" target="_blank" rel="noopener">https://www.fghrsh.net/post/123.html</a><br>
相比初始的版本，这个Repo增加了一些功能，并优化了提示展现机制。</p>
<p>更多内容可以参考：<br>
<a href="https://zhangshuqiao.org/2018-07/%E5%9C%A8%E7%BD%91%E9%A1%B5%E4%B8%AD%E6%B7%BB%E5%8A%A0Live2D%E7%9C%8B%E6%9D%BF%E5%A8%98/" target="_blank" rel="noopener">https://zhangshuqiao.org/2018-07/在网页中添加Live2D看板娘/</a><br>
<a href="https://imjad.cn/archives/lab/add-dynamic-poster-girl-with-live2d-to-your-blog-02" target="_blank" rel="noopener">https://imjad.cn/archives/lab/add-dynamic-poster-girl-with-live2d-to-your-blog-02</a><br>
<a href="https://github.com/summerscar/live2dDemo" target="_blank" rel="noopener">https://github.com/summerscar/live2dDemo</a></p>
<p>还可以自行搭建后端api，并增加模型（需要修改的内容比较多，此处不再赘述）：<br>
<a href="https://github.com/fghrsh/live2d_api" target="_blank" rel="noopener">https://github.com/fghrsh/live2d_api</a><br>
<a href="https://github.com/xiazeyu/live2d-widget-models" target="_blank" rel="noopener">https://github.com/xiazeyu/live2d-widget-models</a><br>
<a href="https://github.com/xiaoski/live2d_models_collection" target="_blank" rel="noopener">https://github.com/xiaoski/live2d_models_collection</a></p>
<p>除此之外，还有桌面版本：<br>
<a href="https://github.com/amorist/platelet" target="_blank" rel="noopener">https://github.com/amorist/platelet</a><br>
<a href="https://github.com/akiroz/Live2D-Widget" target="_blank" rel="noopener">https://github.com/akiroz/Live2D-Widget</a></p>
<h2 id="许可证-License">许可证 License</h2>
<p>Released under the GNU General Public License v3<br>
<a href="http://www.gnu.org/licenses/gpl-3.0.html" target="_blank" rel="noopener">http://www.gnu.org/licenses/gpl-3.0.html</a></p>
<h2 id="更新-Update">更新 Update</h2>
<p>2018年10月31日，由fghrsh提供的原API停用，请更新至新地址。参考文章：<br>
<a href="https://www.fghrsh.net/post/170.html" target="_blank" rel="noopener">https://www.fghrsh.net/post/170.html</a></p>
